<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqie.graduation.mrms.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.cqie.graduation.mrms.user.entity.User">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="locked" property="locked" />
    <result column="phone" property="phone" />
    <result column="email" property="email" />
    <result column="sex" property="sex" />
    <result column="gmt_create" property="gmtCreate" />
    <result column="gmt_update" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`, locked, phone, email, sex, gmt_create, gmt_update
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_user
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cqie.graduation.mrms.user.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_user (username, `password`, locked, phone, email, sex, gmt_create, 
      gmt_update)
    values (#{username}, #{password}, #{locked}, #{phone}, #{email}, #{sex}, #{gmtCreate}, 
      #{gmtUpdate})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cqie.graduation.mrms.user.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="locked != null">
        #{locked},
      </if>
      <if test="phone != null">
        #{phone},
      </if>
      <if test="email != null">
        #{email},
      </if>
      <if test="sex != null">
        #{sex},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqie.graduation.mrms.user.entity.User">
    <!--@mbg.generated-->
    update sys_user
    <set>
      <if test="username != null">
        username = #{username},
      </if>
      <if test="password != null">
        `password` = #{password},
      </if>
      <if test="locked != null">
        locked = #{locked},
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="sex != null">
        sex = #{sex},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqie.graduation.mrms.user.entity.User">
    <!--@mbg.generated-->
    update sys_user
    set username = #{username},
      `password` = #{password},
      locked = #{locked},
      phone = #{phone},
      email = #{email},
      sex = #{sex},
      gmt_create = #{gmtCreate},
      gmt_update = #{gmtUpdate}
    where id = #{id}
  </update>
</mapper>